* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 50px;
  padding-left: 20px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  height: 30px;
  padding-right: 20px;
}

.trybewarts-login input {
  justify-content: space-between;
  padding-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

.trybewarts-login button {
  text-align: center;
  width: 100px;
  height: 30px;
  color: white;
  background-color: rgb(79, 44, 131);
  border-radius: 5px;
  border: none;
}

#evaluation-form, .main-form{
display: flex;
}
#evaluation-form{
    width: 675px;
    flex-direction: column;
}

#trybewarts-forms-logo{
    height: 500px;
}