* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hwb(0 94% 6%);
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
    width: 50px;
    padding-left: 20px;
}

#trybewarts-header-title {
    color: white;
}

.trybewarts-login {
    display: flex;
    height: 30px;
    padding-right: 20px;
}

.trybewarts-login input {
    justify-content: space-between;
    padding-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

.trybewarts-login button {
    text-align: center;
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(79, 44, 131);
    border-radius: 5px;
    border: none;
}

.main-form {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

#evaluation-form {
    display: flex;
    width: 675px;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

#evaluation-form h1 {
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}

.form-input-section input {
    width: 45%;
    height: 45px;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
}

#evaluation-form input {
    border: none;
    padding-left: 10px;
}

#trybewarts-forms-logo {
    margin-top: 50px;
    height: 500px;
}

.form-input-section {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.select-section {
    display: flex;
    align-items: space-around;
    margin: 5px;
}

.select-section label {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 7px;
}

.select-section select {
    width: 230px;
    margin-left: 10px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.radio-input-section {
    display: flex;
}

.radio-section {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 10px;
}

.line {
    margin-top: 10px;
    border: 1px solid rgb(147, 147, 147);
}

.radio-section div {
    font-size: 15px;
    margin-top: 10px;
    justify-items: flex-start;
    margin-left: 0;
}

.radio-section label {
    margin: auto;
}

.checkbox-section {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
    justify-content: center;
}

.checkbox-section p {
    padding: 10px;
    align-self: center;
    margin: auto;
}

.checkbox {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    width: 300px;
}

.checkbox-column {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 5px 20px;
    text-align: center;
    align-items: center;
}

.label-rate-section {
    margin: 15px;
}

#label-rate {
    margin: 10px;
}

footer {
    margin-top: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: rgb(59, 64, 74);
    color: white;
    font-size: 15px;
}

#textArea {
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.textarea {
    margin-top: 10px;
}

#submit-btn {
    margin-top: 10px;
    padding: 5px;
}